<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../assets/images/Group_2019.png">
    <meta name="description" content="Sign up form of the wall assignment">
    <meta name="author" content="Alfonso Martin B. Angeles">
    <link rel="stylesheet" href="../assets/css/normalize.css">
    <link rel="stylesheet" href="../assets/css/sign_up.css">
    <script src="../assets/js/global.js"></script>
    <script src="../assets/js/sign_up.js" defer></script>
    <title>The Wall | Sign Up Page</title>
</head>
<body>
    <div class="container">
        <div class="form_container">
            <form id="signup_form" method="post">
                <h3>The Wall</h3>
                <h1>Register</h1>
                <div class="form_group">
                    <label for="email_input">Email</label>
                    <input type="text" name="email" id="email_input" tabindex="1">
                    <div class="error_message">Incorrect Email</div>
                </div>
                <div class="form_group">
                    <label for="password_input">Password</label>
                    <input type="password" name="password" id="password_input" tabindex="2">
                    <div class="error_message">Incorrect Password</div>
                </div>
                <div class="form_group">
                    <label for="confirm_password_input">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password_input" tabindex="3">
                    <div class="error_message">Password does not match</div>
                </div>
                <p>By creating an account, you agree with The W<br>all's <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a>.</p>
                <button type="submit" tabindex="4">SIGN UP</button>
                <p>
                    <span>Already have an account ? </span><a href="./index.html">Sign in</a>
                </p>
            </form>
        </div>
        <div class="illustration_container">
            <img src="../assets/images/Group_2019.png" alt="illustration">
        </div>
    </div>
</body>
</html>