@background_color: #fbfbfb;
@font_color :#152c61;
@primary_color: #2c6bff;
@white: #fff;
@black: #000;
@error_color: #e1554c;
@textarea_color: #f5f8ff;
@border_color: #dce6ff;
@actions_font_color: #707070;

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.ttf");
}

* {
    font-family: Poppins;
}

body {
    background-color: @background_color;
}

.button {
    background-color: @primary_color;
    border: none;
    color: @white;
    cursor: pointer;
    font-weight: 900;
}

.box_container {
    background-color: @white;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}