@import url("./global.less");

header {
    .box_container;
    color: @font_color;
    
    .container {
        align-items: center;
        display: flex;
        height: 121px;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 1280px;
        padding-inline: 68px;

        nav {
            align-items: center;
            display: flex;
    
            a {
                color: @primary_color;
                font-weight: bold;
                margin-left: 15px;
                text-decoration: none;
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;
    margin: 50px 78px;

    .container {
        .box_container;
        box-sizing: border-box;
        min-height: 1035px;
        padding: 58px 68px;
        width: 1280px;
    
        .main_header {
            align-items: center;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
    
            p {
                color: @actions_font_color;
            }
    
            #messages_length {
                color: @primary_color;
                font-weight: 900;
            }
    
            #create_message_button {
                .button;
                border-radius: 6px;
                cursor: pointer;
                padding: 10px 30px;
            }
        }
    
        #messages_container {
            list-style: none;
            padding: 0;

            .message_container {
                .bordered_container;
                margin-bottom: 25px;
    
                .post_comment_form {
                    .bordered_container;
                    margin-bottom: 10px;
                    margin-top: 22px;
                    text-align: right;
                }

                .comments_container {
                    list-style: none;
                    padding: 0;

                    .comment_container {
                        .bordered_container;
                        margin-bottom: 10px;
                        margin-top: 20px;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    
        #no_messages {
            align-items: center;
            color: @actions_font_color;
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: center;
            margin-top: 126px;
    
            p {
                margin-top: 30px;
            }
        }
    }
}

textarea{
    .textarea;
    height: 84px;
    margin-bottom: 15px;
}

.delete_message_modal,
.create_message_modal,
.delete_comment_modal {
	background-color: fade(@black, 50%);
	height: 100%;
	left: 0;
	top: 0;
	visibility: hidden;
	width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: fixed;

    .modal_container {
		box-sizing: border-box;
		min-height: 307px;
		padding: 15px;
		text-align: center;
		word-wrap: break-word;
        .box_container;
        color: @font_color;
        flex: 1;
        max-width: 937px;
        padding: 50px;
        position: relative;

        .close_button {
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
        }

        h2 {
            margin-bottom: 40px;
            margin-top: 0;
        }

        p {
            line-height: normal;
            padding-inline: 20px;
        }

        .buttons_container {
            text-align: right;
        }
    }
}

.create_message_modal {
    textarea {
        .textarea;
        margin-bottom: 30px;
        min-height: 185px;
    }
}

.delete_message_modal,
.delete_comment_modal {
    .modal_container {
        max-width: 540px;

        .buttons_container {
            margin-top: 40px;
            padding-left: 40px;
            text-align: center;
        
            .success_button {
                margin-left: 50px;
                padding: 15px 40px;
            }
        }
    }
}

.comment_content,
.message_content {
    color: @font_color;
    margin-bottom: 15px;
    margin: 0 0 15px;
    word-wrap: break-word;
}

.actions_container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .message_actions {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding-left: 0;

        li {
            align-items: center;
            color: @actions_font_color;
            cursor: pointer;
            display: flex;
            margin-right: 20px;
            
            img {
                margin-right: 5px;
            }
    
            .blue_text {
                color: @primary_color;
            }
    
            div {
                span {
                    font-weight: 900;
                }
            }
    
            &:last-child {
                cursor: auto;
            }
        }
    }

    .buttons_container {
        flex: 1;
        text-align: right;
    }
}

.hide_message_actions,
.hide_buttons_container,
.hide_comment_content,
.hide_message_content,
.hide_textarea,
.hide_form,
.hide_comments_container,
#hide_no_messages {
    display: none;
}

.show_modal {
    visibility: visible;
}

@media only screen and (max-width: 480px){

    header {
        .container {
            flex-direction: column;
            padding-inline: 10px;
        }
    }

    main {
        margin: 20px;

        .container {
            padding: 18px 28px;

            .main_header {
                flex-direction: column;
                
                p {
                    text-align: center;
                }
            }
        }
    }

    .actions_container {
        align-items: flex-start;
        display: flex;
   
        .message_actions {
            flex-direction: column;
        
            li {
                align-items: center;
                justify-content: flex-start;
            }
        }

        .buttons_container {
            text-align: center;
        }
    }

.delete_message_modal,
.create_message_modal,
.delete_comment_modal {
    .modal_container {
        margin: 10px;
        padding: 50px 20px;

        textarea {
            min-height: 100px;
        }

        .buttons_container {
            text-align: right;
        }
    }
}

.delete_message_modal,
.delete_comment_modal {
    .modal_container {
        max-width: 540px;

        .buttons_container {
            margin-top: 40px;
            padding-left: 0;
            text-align: center;
        
            .success_button {
                margin-left: 0;
                padding: 15px 40px;
            }
        }
    }
}
}