@font-face {
  font-family: Poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}
* {
  font-family: Poppins;
}
body {
  background-color: #fbfbfb;
}
.button {
  background-color: #2c6bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
}
.box_container {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.cancel_button {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-right: 24px;
  text-decoration: none;
}
.success_button {
  background-color: #2c6bff;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 900;
  border-radius: 6px;
  padding: 10px 30px;
}
.hide_no_messages,
.hide_message_actions,
.hide_buttons_container {
  visibility: hidden;
}
.hide_form {
  display: none;
}
.disable_button {
  background-color: #2c6bff;
  opacity: 50%;
}
.bordered_container {
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  margin-bottom: 25px;
  min-height: 144px;
  padding: 30px;
}
.actions_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
textarea {
  border: none;
  box-sizing: border-box;
  color: #152c61;
  height: 45px;
  margin-bottom: 15px;
  resize: none;
  width: 100%;
}
textarea:disabled {
  background-color: white;
  color: #152c61;
}
.textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  width: 100%;
}
.enable_textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  width: 100%;
  height: 84px;
}
.message_actions {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.message_actions li {
  align-items: center;
  color: #707070;
  cursor: pointer;
  display: flex;
  margin-right: 20px;
}
.message_actions li .blue_text {
  color: #2c6bff;
}
.message_actions li span span {
  font-weight: 900;
  margin-left: 5px;
}
.message_actions li:last-child {
  cursor: auto;
}
header {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  align-items: center;
  color: #152c61;
  display: flex;
  height: 121px;
  justify-content: space-between;
  padding-inline: 78px;
}
header nav {
  align-items: center;
  display: flex;
}
header nav a {
  color: #2c6bff;
  font-weight: bold;
  margin-left: 16px;
  text-decoration: none;
}
main {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  margin: 50px 78px;
  min-height: 1035px;
  padding: 58px 68px;
}
main .main_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
main .main_header p {
  color: #707070;
}
main .main_header #messages_length {
  color: #2c6bff;
  font-weight: 900;
}
main .main_header #create_message_button {
  background-color: #2c6bff;
  border: none;
  color: #fff;
  font-weight: 900;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 30px;
}
main #messages_container .message_container {
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  margin-bottom: 25px;
  min-height: 144px;
  padding: 30px;
}
main #messages_container .message_container .post_comment_form {
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  margin-bottom: 25px;
  min-height: 144px;
  padding: 30px;
  margin-top: 25px;
  text-align: right;
}
main #messages_container .message_container .comment_container {
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  margin-bottom: 25px;
  min-height: 144px;
  padding: 30px;
}
main #no_messages {
  align-items: center;
  color: #707070;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: 126px;
}
main #no_messages p {
  margin-top: 30px;
}
.delete_message_modal,
.create_message_modal,
.delete_comment_modal {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
}
.delete_message_modal .modal_container,
.create_message_modal .modal_container,
.delete_comment_modal .modal_container {
  box-sizing: border-box;
  min-height: 307px;
  padding: 15px;
  text-align: center;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  color: #152c61;
  flex: 1;
  max-width: 937px;
  padding: 50px;
  position: relative;
}
.delete_message_modal .modal_container .close_button,
.create_message_modal .modal_container .close_button,
.delete_comment_modal .modal_container .close_button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.delete_message_modal .modal_container h2,
.create_message_modal .modal_container h2,
.delete_comment_modal .modal_container h2 {
  margin-bottom: 40px;
  margin-top: 0;
}
.delete_message_modal .modal_container p,
.create_message_modal .modal_container p,
.delete_comment_modal .modal_container p {
  line-height: normal;
  padding-inline: 20px;
}
.delete_message_modal .modal_container textarea,
.create_message_modal .modal_container textarea,
.delete_comment_modal .modal_container textarea {
  background-color: #f5f8ff;
  border-radius: 6px;
  border: 1px solid #dce6ff;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  width: 100%;
  margin-bottom: 30px;
  min-height: 185px;
}
.delete_message_modal .modal_container .buttons_container,
.create_message_modal .modal_container .buttons_container,
.delete_comment_modal .modal_container .buttons_container {
  text-align: right;
}
.delete_message_modal .modal_container,
.delete_comment_modal .modal_container {
  max-width: 540px;
}
.delete_message_modal .modal_container .buttons_container,
.delete_comment_modal .modal_container .buttons_container {
  margin-top: 40px;
  text-align: center;
}
.delete_message_modal .modal_container .buttons_container .success_button,
.delete_comment_modal .modal_container .buttons_container .success_button {
  padding: 15px 40px;
}
.show_modal {
  visibility: visible;
}
